
#map{
    width: 475px;
    height: 250px;
    display: none;
}
#imagen {
    display: none;
}
#btnCargarArchivo{
    width: 40%;
}

#event_form{
    /* display: grid;
    grid-template-rows: auto auto; /* Dos filas, una para Información Personal y otra para Emergencia e Identificación 
    grid-template-columns: 1fr;  Una sola columna para ocupar todo el ancho 
    gap: 20px; Espacio entre los grupos */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.group-info-personal{
    grid-row: 1;
}
.group-info-personal .col-lg-5{
    width: 20%;
}
.group-info-personal .col-lg-5:last-child{
    width: 30%;
}

.group-ident{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.group-emergencia{
    display: flex;
    flex-wrap: wrap;
}

.group-emergencia .col-lg-5{
    width: 45%;
}
.group-emergencia:last-child{
    width: 90%;
    margin: 0 auto;
}


.group-ident .col-lg-5{
    width: 100%;
}


#btnGuardar{
    margin-top: 2rem;
    text-align: center;
}

.form-label .label-red{
    color: red;
}

@media screen and (max-width: 800px) {
    #event_form{
        /* flex-direction: column; */
    }
    .group-info-personal .col-lg-5{
        width: 90%;
    }
    .group-info-personal .col-lg-5:last-child{
        width: 90%;
    }

    .group-emergencia{
        display: flex;
    }
    
    .group-emergencia .col-lg-5{
        width: 90%;
    }
    
    .group-ident,
    .group-emergencia{
        width: 90%;
    }
    
    #btnCargarArchivo{
        width: 100%;
    }
    #map{
        width: 100%;
    }

    
}
