
#map{
    width: 475px;
    height: 250px;
}

#btnCargarArchivo{
    width: 40%;
}
#event_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
#subtitle{
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  font-weight: 500;
}
.data-user{
  margin:0 auto;
}
.data-user .col-lg-6{
  width:25%;
   flex-wrap: wrap;
}
.group-emergencia-data{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content:space-between;
}
.group-emergencia-data .col-lg-5{
  width: 30%;
}
.group-emergencia-data .col-cat{
  width: 20%;
}
.group-emergencia-data .col-img{
  width: 38%;
}
.group-emergencia-data .col-des{
  width: 40%;
}
#cat_id,
#imagen{
  text-align:center;
}
.group-ident{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:90%;
    width: 100%;
}
.group-ident .col-lg-5{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group-dir{
    width:100%;
}
#address{
  width: 90%;
}
.form-check{
    display: flex;
    align-items:center;
}
#btnGuardar{
    margin-top: 2rem;
    text-align: center;
}

.form-label .label-red{
    color: red;
}

@media screen and (max-width: 800px) {
    .data-user .col-lg-6 {
        width: 100%;  
    }
    .group-emergencia-data{
        display: flex;
    }
    
    .group-emergencia-data .col-lg-5{
        width: 90%;
    }
    
    .group-ident,
    .group-emergencia-data-data{
        width: 90%;
    }
    
    #btnCargarArchivo{
        width: 100%;
    }
    #map{
        width: 100%;
    }

    
}
