*{
    margin: 0;
    padding: 0%;
}

.estructura-tablas{
    width: 100%;
    display: grid;
}

/* #datos-criticos tr{
    background-color: #f64747d6;
} */
/* #datos-medios tr{
    background-color: #fbeb41d6;
}
#datos-bajos tr{
    background-color: #bbf63cd6;
} */

.tabla-basica {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-basica th, .tabla-basica td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: left;
}

.tabla-basica th {
    background-color: #ececec00;
}

.peligro_critico {
    background-color: #f64747d6;
}
.peligro_medio{
    background-color: #fbeb41d6;
}
.peligro_bajo {
    background-color: #bbf63cd6;
}
.peligro_comun {
    background-color: #7a7a7ad6;
}
.ovalo_peligro {
    display: flex;
    justify-content: center;
    border-radius: 15%;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.btn-cancelar{
    width: 100%;
    position: relative;
}
.btn-cancelar .btn{
    position: absolute;
    top: 0px;
  right: -10px;
  border-radius: 50%;
}

#selector-unidad,
#selector-cerrar{
    color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(133,22,135);
  background: linear-gradient(90deg, rgba(133,22,135,1) 0%, rgba(125,31,203,1) 50%, rgba(127,16,214,0.8981793400954132) 100%);
  width: 30%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
  z-index: 9999;
  text-align-last: center;
  display: none ;
}


.modalBox{
    /* background-color: #000; */
}

#buttons-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#unid_id {
    height:120px;
}

#container-asignacion{
    color: black;
    display: none;
}

/* button{
    margin-top: 15px;
    margin-left: 15px;

} */


#distribucion-box{
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    color: #fff;
}

#distribucion-espacios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 20px;
}
.derivacion-title{
    margin-bottom: 2rem;
    font-weight: 900;
}

#asignaciones-title{
    font-weight: 400;
    font-size: 1.5rem;
}
.form-group{
    text-align: center;
    margin-bottom: 0;
}
#grupito{
    width: 100%;
    background-color: #cccccc8f;
    padding: 0 0 10px 0;
}

#ev_id,
#cat_nom{
    padding-bottom: 0.5rem;
}

#grupito:nth-of-type(2),
#grupito:nth-of-type(4) {
    background-color:#BE80F082;
    padding: 0 0 10px 0;
  }

.form-check {
    display: flex;
    min-height: 1.5rem;
    padding: 0 2rem;
    margin-bottom: .125rem;
    flex-direction: column;
  }

.form-control{
    width: 70%;
    margin: 0 auto;
}

#niv_id,
.btnCerrarEvento,
.btnActualizarTodos{
    width: 250px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
}

.btn-box{
    display: flex;
    justify-content: space-between;
}


/* Mapa  */
#modal-mapa{
    display: none;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9a4fa;
    width: 60vw;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5); /* Sombra para un efecto de profundidad */
    z-index: 9999; /* Asegura que el modal esté sobre otros elementos */
    color: black;
    text-align-last: center;
}
#map {
    width: 100%;
    height: 90%;
}
.vista-mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnCrearRuta {
    width: 30%;
    height:  10%;
    margin-top: 10px;
}
.CerrarModalMap {
    top: 10px !important;
    left: 30% !important;
    color: black !important;
    font-size: 25px;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    #selector-unidad,
    #selector-cerrar{
        width: 50%;
      }
    #distribucion-box {
        width: 35vw;
      }
     
}

@media screen and (max-width: 786px) {
    #selector-unidad,
    #selector-cerrar{
        width: 60%;
      }
    #distribucion-box {
        width: 45vw;
      }
     
}

@media screen and (max-width: 600px) {
    #selector-unidad,
    #selector-cerrar{
        width: 70%;
      }
    #distribucion-box {
        width: 50vw;
      }
     
}

@media screen and (max-width: 600px) {
    #selector-unidad,
    #selector-cerrar{
        width: 90%;
        margin: 5px auto;
        /* height: 56%; */
        padding: 0;
        /* top: 33%; */
      }
    #distribucion-box {
        width: 80vw;
      }
     
}