*{
    margin: 0;
    padding: 0%;
}

.estructura-tablas{
    width: 100%;
    display: grid;
}

#tabla-control tbody, thead{
  font-size:1.1rem;
}

#tabla-control tbody tr td span.label{
  font-size:1.1rem;
}
#tabla-control .label {
    display: inline-block; /* Cada elemento ocupa su propio espacio */
    margin-bottom: 5px; /* Espaciado entre elementos verticalmente */
    margin-right: 5px; /* Espaciado entre elementos horizontalmente */
    padding: 5px 10px; /* Mantén el padding para el estilo visual */
    border-radius: 4px; /* Opcional: redondear las esquinas */
}
#tabla-control .asignacion {
    display: flex; /* Alinea elementos en línea por defecto */
    flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente línea si es necesario */
    gap: 10px; /* Espacio entre los elementos */
}

/* Contenedor principal de la columna dirección */
#tabla-control .direccion-columna {
    padding: 8px;
    vertical-align: middle; /* Alinea verticalmente el contenido */
}

/* Flexbox para alinear texto y botón */
#tabla-control .direccion-flex {
    display: flex;
    align-items: center; /* Alinea verticalmente en el centro */
    justify-content: space-between; /* Espacia el texto y el botón */
    gap: 10px; /* Espacio entre texto y botón */
}

/* Estilo para el texto dentro de dirección */
#tabla-control .direccion-texto {
    flex: 1; /* El texto ocupa el espacio restante */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Evita el desbordamiento de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si hay desbordamiento */
}

/* Estilo para el botón */
#tabla-control .btnDireccionarMapa {
    flex-shrink: 0; /* Evita que el botón se reduzca */
}

.tabla-basica {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-basica th, .tabla-basica td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: center;
}

.tabla-basica th {
    background-color: #ececec00;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 20px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    display: flex
;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 60px;
}

.peligro_critico {
    background-color: #f64747d6;
}
.peligro_medio{
    background-color: #fbeb41d6;
}
.peligro_bajo {
    background-color: #bbf63cd6;
}
.peligro_comun {
    background-color: #7a7a7ad6;
}
.ovalo_peligro {
    display: flex;
    justify-content: center;
    border-radius: 15%;
    padding: 5%;
    width: 100%;
    height: 100%;
}

#btnDetalleEmergencia,
#btnPanelDerivar,
#btnPanelPeligro{
    border: none;
    color: #00A8FF;
    font-size: 1.5rem;
    background-color: transparent;
}

/* Mapa  */
#modal-mapa{
    display: none;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9a4fa;
    width: 60vw;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5);
    z-index: 100; 
    color: black;
    text-align-last: center;
}

#map {
    width: 100%;
    height: 90%;
}
.vista-mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnCrearRuta {
    width: 30%;
    height:  10%;
    margin-top: 10px;
}
.CerrarModalMap {
    top: 10px !important;
    left: 30% !important;
    color: black !important;
    font-size: 25px;
    text-decoration: none;
}

/*Modals styles Derivar*/
.modal-dialog:not(.modal-sm):not(.modal-lg) {
    width: 50vw;
}
.modal-content {
  max-width:100%;
    width: 100%vw;
}
#distribucion-box{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#distribucion-espacios-datos-derivar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#distribucion-espacios-datos-derivar .card{
  width: 45%;
}
#distribucion-espacios-select{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#distribucion-espacios-select .card{
  width: 100%;
}
#content-list{
  display: flex;
}
#listaParticipantesderivar{
  display: flex;
}
#distribucion-espacios-tabla{
  width: 100%;
  overflow-x:auto;
}
#distribucion-espacios-tabla .card{
  width: 100%;
}

#distribucion-espacios-tabla .card .card-body{
  width: 100%;
  display: flex;
  flex-direction:column;
  overflow-x:auto;
}
.datos-participantes{
  max-width:100%;
}
.datos-participantes .form-group{
  max-width:100%;
}
.dataTables_length{
  display: none;
}
#tablaSecciones{
  width: 100%;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 1400px) {
    .modal-dialog:not(.modal-sm):not(.modal-lg) {
    width: 70vw;
    }
}

@media screen and (max-width: 1054px) {
    .modal-dialog:not(.modal-sm):not(.modal-lg) {
        width: 96vw;
    }
}

/*Modals styles Nivel*/
#distribucion-box-nivel{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} 
#distribucion-espacios-datos-nivel{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#distribucion-espacios-datos-nivel .card{
  width: 45%;
}
#distribucion-espacios-nivel{
  display: flex;
  justify-content:space-around;
  width: 100%;
}
#niv_id {
    overflow-y: auto;
    position: relative;
}
#distribucion-espacios-nivel .card{
  width: 95%;
}
.card-boton-nivel{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}
.box-selection{
  width: 50%;
}
.btnActualizarNivelPeligro{
  width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

