/* ! WARNING: es importante el #map para que se vea el mapa de google */
#map {
  height: 500px;
  width: 100%;
}

.select2-container--open {
    z-index: 99999999999999;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: aqua;
}

