*{
    margin: 0;
    padding: 0%;
}

.estructura-tablas{
    width: 100%;
    display: grid;
}

.tabla-basica {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-basica th, .tabla-basica td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: left;
}

.tabla-basica th {
    background-color: #ececec00;
}

.peligro_critico {
    background-color: #f64747d6;
}
.peligro_medio{
    background-color: #fbeb41d6;
}
.peligro_bajo {
    background-color: #bbf63cd6;
}
.peligro_comun {
    background-color: #7a7a7ad6;
}
.ovalo_peligro {
    display: flex;
    justify-content: center;
    border-radius: 15%;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.datos-evento{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    text-align:center;
}

.datos-evento .card{
    width: 250px;
}

#lblEstado span,
#lblFechaCrea,
#lblNomUsuario{
    font-size: 1rem;
}

.lista{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.lista .card{
    width: 40%;
    margin: 5px 30px;
    padding: 0 20px;
    text-align: center;
}

#btnPanelDerivar{
    border: none;
    color: #00A8FF;
    font-size: 2.5rem;
    background-color: transparent;
}
 
.box-item{
    text-align: center;
}

#lblEstado{
    background: transparent;
}

@media screen and (max-width: 550px) {
    .datos-evento{
      justify-content:center;
    }
    .lista .card{
      width: 100%; 
    }
}

/*Modals styles Derivar*/
.modal-dialog:not(.modal-sm):not(.modal-lg) {
    width: 50vw;
}
.modal-content {
  max-width:100%;
    width: 100%vw;
}
#distribucion-box{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#distribucion-espacios-datos-derivar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#distribucion-espacios-datos-derivar .card{
  width: 45%;
}
#distribucion-espacios-select{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#distribucion-espacios-select .card{
  width: 100%;
}
#content-list{
  display: flex;
}
#listaParticipantesderivar{
  display: flex;
}
#distribucion-espacios-tabla{
  width: 100%;
  overflow-x:auto;
}
#distribucion-espacios-tabla .card{
  width: 100%;
}

#distribucion-espacios-tabla .card .card-body{
  width: 100%;
  display: flex;
  flex-direction:column;
  overflow-x:auto;
}
.datos-participantes{
  max-width:100%;
}
.datos-participantes .form-group{
  max-width:100%;
}
.dataTables_length{
  display: none;
}
#tablaSecciones{
  width: 100%;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 1400px) {
    .modal-dialog:not(.modal-sm):not(.modal-lg) {
    width: 70vw;
    }
}

@media screen and (max-width: 1054px) {
    .modal-dialog:not(.modal-sm):not(.modal-lg) {
        width: 96vw;
    }
}



/* Mapa  */
#modal-mapa{
    display: none;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9a4fa;
    width: 60vw;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5); /* Sombra para un efecto de profundidad */
    z-index: 9999; /* Asegura que el modal esté sobre otros elementos */
    color: black;
    text-align-last: center;
}
#map {
    width: 100%;
    height: 90%;
}
.vista-mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnCrearRuta {
    width: 30%;
    height:  10%;
    margin-top: 10px;
}
.CerrarModalMap {
    top: 10px !important;
    left: 30% !important;
    color: black !important;
    font-size: 25px;
    text-decoration: none;
}
