*{
    margin: 0;
    padding: 0%;
}

.estructura-tablas{
    width: 100%;
    display: grid;
}

.tabla-basica {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-basica th, .tabla-basica td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: left;
}

.tabla-basica th {
    background-color: #ececec00;
}

.peligro_critico {
    background-color: #f64747d6;
}
.peligro_medio{
    background-color: #fbeb41d6;
}
.peligro_bajo {
    background-color: #bbf63cd6;
}
.peligro_comun {
    background-color: #7a7a7ad6;
}
.ovalo_peligro {
    display: flex;
    justify-content: center;
    border-radius: 15%;
    padding: 5%;
    width: 100%;
    height: 100%;
}

#lblEstado span,
#lblFechaCrea,
#lblNomUsuario{
    font-size: 1rem;
}


#btnPanelDerivar{
    border: none;
    color: #00A8FF;
    font-size: 1.5rem;
    background-color: transparent;
}
 
.box-item{
    text-align: center;
}


#lblEstado{
    background: transparent;
}


.
/*Modals styles*/
#distribucion-espacios-datos{
  display: flex;
  justify-content: space-around;

}

#distribucion-espacios-datos .card{
  width: 45%;
}
#listaParticipantes{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tablaSecciones_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.select-info{
  visibility: hidden;
}

.dataTables_length{
  visibility:hidden;
}

.secciones-box{
  width: 100%;
}
.datos-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datos-evento{
    display: flex;
    width: 50%;
    /* flex-wrap: wrap; */
   
}

.datos-evento .col-lg-2{
    width: 25%;
       
}

.datos-participantes{
    display: flex;
   width: 25%;
   justify-content: center;
}

.datos-rederivar{
display: flex;
   width: 15%;
   justify-content: center;
}

.datos-participantes .col-lg-2,
.datos-rederivar .col-lg-2{
    width: 90%;
}

.descripcion-row div{
    text-align: left;
    
}
#tablaSecciones_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.select-info{
  visibility: hidden;
}

.dataTables_length{
  visibility:hidden;
}



/* Mapa  */
#modal-mapa{
    display: none;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9a4fa;
    width: 60vw;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.5); /* Sombra para un efecto de profundidad */
    z-index: 9999; /* Asegura que el modal esté sobre otros elementos */
    color: black;
    text-align-last: center;
}
#map {
    width: 100%;
    height: 90%;
}
.vista-mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnCrearRuta {
    width: 30%;
    height:  10%;
    margin-top: 10px;
}
.CerrarModalMap {
    top: 10px !important;
    left: 30% !important;
    color: black !important;
    font-size: 25px;
    text-decoration: none;
}
